* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  overflow-x: hidden;   /* hides right-side white space */
  overflow-y: auto;     /* keeps vertical scrolling */
}

.container {
  width: 100%;
  background-color: #f3eee7;
  
}

.page1 {
  position: relative;
  width: 100%;
  height: 100vh;
}

.page1 img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.navbar {
  position: absolute;
  top: 5px;
  height: 100px;
  width: 100%;
  padding: 20px 10px;
  display: flex;
  justify-content: space-around;
  color: white;
  /* border: 2px solid yellow; */
  
}

.nav-center {
  width: 55%;

/* border: 2px solid greenyellow; */
  padding: 10px;

}

.logo {
  display: flex;
 
  margin-top: -10px;
  margin-left: 270px;
  width: 350px;
}

.nav-links {
 list-style: none;
  display: flex;
  width: 900px;
  justify-content: center;
  gap: 12px;
  margin-top: 15px;

 /* border: 2px solid red; */
/* margin-left: 60px; */
  color: #c7c5c4;
  cursor: pointer;
}

.top-links {
  font-size: 12px;
  /* border: 2px solid blue; */
  
   font-family: "Quicksand", sans-serif;

}

.sub-links {
  font-size: 12px;
  margin-top: 17px;
  
 /* margin-left: 240px; */
  font-family: "Quicksand", sans-serif;
}

.nav-right .btn1 {
  /* padding: 10px 18px; */
  width: 200px;
  height: 30px;
  background-color:#815153;
letter-spacing: 1px;
  color: white;
  border: 1px solid white;
  font-size: 11px;
  font-family: "Quicksand", sans-serif;
  cursor: pointer;
}

.hero-text {
  position: absolute;
  top: 44%;
  left: 34%;

  text-align: center;
}

.hero-text h2 {
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: 100;
  margin-bottom: 6px;
   font-family: "Quicksand", sans-serif;

  color: #c7c3c1;
}

.hero-text img{
  width: 400px;
}

.page2 {
  background-color: #f3eee7;
}

.head {
  text-align: center;
  margin-top: 23px;
  letter-spacing: 2px;
  color: #313131;
  font-size: 10px;
}

.about .marari {
  text-align: center;
  margin-top: 12px;
  color: #815153;
  font-weight: 300;
  
}

.abt-marari {
  width: 700px;
 
  padding: 18px 25px;
  display: flex;
  text-align: center;
  margin-left: 280px;
  font-size: 14px;
  letter-spacing: 1px;
  color: #313131;
}

.resort-bg3 {
  margin-left: 550px;
}

.abt-head p {
  letter-spacing: 2px;
  margin-top: 60px;
  margin-left: 150px;
  font-size: 10px;
  color: #313131;
}

.abt-head .explore {
  color: #815153;
  margin-left: 150px;
  font-size: 22px;
  font-weight: 200;
  margin-top: 8px;
  letter-spacing: 1px;
}

.abt-img {
  margin-left: 150px;
  margin-top: 20px;
  height: 370px;
  
  display: flex;
  gap: 45px;
}
.abt-img .abt-img1{
  width: 640px;
}

.disc-head {
  text-align: center;
  margin-top: 30px;
  color: #815153;
  letter-spacing: 2px;
 font-size: 20px;
}

.disc-head img{
  width: 80px;
}



.discover-imgs {
  display: flex;
  margin-top: 10px;
  margin-left: 92px;
  width: 85%;
 
  gap: 35px;
  padding: 15px 30px;
}

.disc1 {
  display: flex;
  flex-direction: column;
  width: 490px;
}

.disc1 img {
  width: 320px;
}

.disc1 h4 {
  letter-spacing: 1px;
  margin-top: 15px;
  font-size: 16px;
  font-weight: 100;

}

.disc1-description {
  width: 305px;
  font-size: 13px;
  letter-spacing: 1px;
  margin-top: 10px;
    color: #313131;
}

.ayur-way .ayur-way-head {
  text-align: center;
  margin-top: 40px;
  color: #815153;
  letter-spacing: 1px;
}

.ayur-way-head h2{
  font-size: 20px;
  font-weight: 100;
}

.ayur-way-head img{
  width: 60px;
  margin-top: 5px;
}

.ayur-way-imgs {
   display: flex;
  margin-top: 20px;
  margin-left: 122px;
  width: 85%;
 
}

.ayur-way-imgs .ayur-img{
  width: 800px;
 
}


.ayur-img img{
  width: 320px;
}



.group253 {
  margin-left: 449px;
  margin-top: 30px;
  width: 370px;
}

.Yoga {
  margin-left: 230px;
  margin-top: 50px;
  
}

.Yoga img{
  width: 80%;
}

.facilities h2 {
  text-align: center;
  margin-top: 30px;
  color: #815153;
  font-weight: 100;
  font-size: 20px;
  margin-left: 40px;
  letter-spacing: 1px;
}

.facility-desc {
  width: 460px;
  text-align: center;
  margin-left: 420px;
  margin-top: 10px;
  letter-spacing: 1px;
  color: #313131;
  font-size: 13px;

}

.facility-imgs {
  
  width: 80%;
  display: flex;
  /* gap: 20px; */
  margin-left: 130px;
  margin-top: 30px;
  justify-content: space-evenly;
  /* border: 2px solid red; */
}

.facility-img1 {
  width: 200px;
  text-align: center;
  letter-spacing: 1px;
  color: #3d3c3c;
 
}

.facility-img1 img{
  width: 260px;
}

.facility-desc2 {
  width: 250px;
  text-align: center;
  margin-left: 5px;
  margin-top: 10px;
  font-size: 12px;
  letter-spacing: 1px;
  color: #3d3c3c;
}

.facility-img2 {
  width: 200px;
  text-align: center;
  letter-spacing: 1px;
  color: #3d3c3c;
  margin-top: 90px;
}

.facility-img2 img{
  width: 260px;
}

.facility-img3{
   width: 200px;
  text-align: center;
  letter-spacing: 1px;
  color: #3d3c3c;
  margin-top: 90px;
}

.facility-img3 img{
  width: 260px;
  margin-top: -90px;
}

.Resort {
  margin-top: 50px;
  margin-left: 185px;
  
}

.Resort img{
  width: 89%;
}

.Experiencing {
  margin-top: 30px;
  margin-left: 150px;
}

.Experiencing img{
  width: 91%;
}

.Book-Now {
  display: flex;

  text-align: center;
  justify-content: center;

  margin-top: 10px;
}

.Book-Now img {
  width: 70px;
  margin-top: 8px;
}

.Book-Now h2 {
  color: #815153;
  margin-top: 30px;
  font-size: 20px;
  letter-spacing: 1px;
}

.book-now-btn {
  width: 200px;
  height: 40px;
   font-family: "Quicksand", sans-serif;

  text-align: center;
  margin-left: 540px;
  font-size: 13px;
  letter-spacing: 2px;
  color: #815153;
  background-color: #f3eee7;
  border: 1px solid #815153;
  cursor: pointer;
}

.footer {
 
  padding-bottom: 20px;
  background-color: white;
  width: 100%;
 
}

.footer-head {

  display: flex;
  gap: 20px;
  width: 90%;
  margin-top: 45px;
  justify-content: space-evenly;
  margin-left: 70px;
  /* border: 2px solid rebeccapurple; */
  padding: 30px;
}

.footer-head h4 {
  margin-top: 10px;
     color: #434141;

  font-weight: 100;
  font-size: 14px;
   letter-spacing: 0.5px;
  /* border: 2px solid green; */
  width: 480px;
}

.footer-head p {
  font-size: 13px;
  /* width: 680px; */
     color: #434141;


 letter-spacing: 1px;
  margin-left: -110px;
  
}

.footer-btn {
  width: 300px;
  background-color: #815153;
  color: rgb(236, 229, 229);
  border: none;
  font-size: 12px;
  cursor: pointer;
}

.footer-sections {
  width: 80%;
  margin-top: 20px;
  display: flex;
  justify-content: space-evenly;
  font-size: 12px;
  letter-spacing: 0.5px;
  gap: 13px;
  margin-left: 90px;
  /* border: 2px solid red; */
}
.footer-sec1 {
  display: flex;
  flex-direction: column;
  min-width: 20rem;
  /* border: 2px solid blueviolet; */
  padding-right: 50px;
 
}
.footer-sec1-head {
  display: flex;
  align-items: end;
  gap: 15px;
  
 
}
.footer-sec1-head p {
  font-size: 17px;
  font-weight: 500;

}
.footer-sec1 .sub-contents {
  font-weight: lighter;
  letter-spacing: 1px;
/* border: 2px solid yellow; */
line-height: 18px;
   color: #434141;

  margin-top: 10px;
}
.footer-sec1 .contact-us {
  width: 110px;
  height: 30px;
  font-size: 12px;
  letter-spacing: 0.5px;
  background-color: #fff;
  border: 1px solid #815153;
  color: #815153;
  margin-top: 12px;
}
.footer-sec1 .social-medias {
  display: flex;
  align-items: center;
  margin-top: 15px;
  color: #815153;
}

.social-medias img{
  width: 100px;
}
.footer-sec2 {
  display: flex;
  flex-direction: column;
  gap: 6px;
  min-width: 12rem;
  padding: 10px;
}
.footer-sec2 .footer-sec2-head {
  font-size: 16px;
  margin-bottom: 9px;
  margin-top: 10px;
}
.footer-sec2 .more-info {
      color: #434141;


}
.footer-sec3 {
  min-width: 19rem;
  padding: 10px;
}
.footer-sec3 .footer-sec3-head {
  display: flex;
  flex-direction: column;
   margin-top: 10px;
  gap: 6px;
}
.footer-sec3 .desti-content {
     color: #434141;


}
.footer-sec3 h4 {
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 5px;
}
.footer-sec3 .desti-head {
  font-size: 14px;
  margin: 5px 0;
}

.footer-sec4 {
 
  /* padding: 10px; */
  display: flex;
  flex-direction: column;
  gap: 6px;
  min-width: 23rem;
}

.footer-sec4-head {
  font-size: 14px;
  margin-bottom: 5px;
  margin-top: 18px;
}

.footer-sec4-head .footer-contact {
  color: black;
  
}

.footer-sec4 .contact-head {
  font-size: 13px;
  margin-bottom: 5px;
  color: black;
   
}

.footer-sec4 p {
     color: #434141;


}

.footer-contact {
  color: black;
  font-weight: 500;
  font-size: 15px;
}

.footer-hr1 {
  width: 86%;
  border: none;
  border-top: 1px solid #e6e6e6;
  margin-top: 10px;
  margin-left: 90px;
  opacity: 0.9;
  
}

.footer-hr {
  width: 86%;
  border: none;
  border-top: 1px solid #e6e6e6;
  opacity: 0.9;
  margin-top: 30px;
  margin-left: 90px;
}


.copyright {

  text-align: center;
  background-color: white;
  padding: 15px;
  font-size: 13px;
  color: #696969;
  margin-bottom: 15px;
 
} 




