* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  background-color: #f3eee7;
}

.page1 {
  position: relative;
  width: 100%;
  height: 100vh;
}

.page1 img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.navbar {
  position: absolute;
  top: 20px;
  width: 100%;
  padding: 20px 100px;
  display: flex;
  justify-content: space-around;
  color: white;
  /* border: 2px solid yellow; */
}

.nav-center {
  width: 75%;
  text-align: center;
  /* border: 2px solid gray; */
  padding: 10px;
  margin-left: 265px;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 2px solid red; */
  margin-left: 340px;
  width: 500px;
}

.nav-links {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 10px;
  font-size: 13px;
  /* border: 2px solid greenyellow; */
  margin-top: 20px;
  color: #c7c5c4;
  cursor: pointer;
}

.top-links {
  font-size: 20px;
}

.sub-links {
  font-size: 20px;
  margin-top: 15px;
  letter-spacing: 1px;
}

.nav-right button {
  padding: 10px 18px;
  width: 270px;
  height: 50px;
  background-color: #946162;

  color: white;
  border: 1px solid white;
  font-size: 18px;
  cursor: pointer;
}

.hero-text {
  position: absolute;
  top: 45%;
  left: 35%;

  text-align: center;
}

.hero-text h2 {
  font-size: 27px;
  letter-spacing: 1px;
  font-weight: 100;
  margin-bottom: 6px;
  font-family: 'Raleway', sans-serif;
  color: #c7c3c1;
}

.page2 {
  background-color: #f3eee7;
}

.head {
  text-align: center;
  margin-top: 30px;
  letter-spacing: 2px;
  color: #313131;
}

.about .marari {
  text-align: center;
  margin-top: 20px;
  color: #815153;
  font-weight: 300;
}

.abt-marari {
  width: 800px;
  /* border: 2px solid; */
  padding: 18px 25px;
  display: flex;
  text-align: center;
  margin-left: 560px;
  font-size: 20px;
  color: #313131;
}

.resort-bg3 {
  margin-left: 870px;
}

.abt-head p {
  letter-spacing: 2px;
  margin-top: 60px;
  margin-left: 250px;
}

.abt-head .explore {
  color: #815153;
  margin-left: 250px;
  font-size: 26px;
  font-weight: 200;
  margin-top: 8px;
  letter-spacing: 1px;
}

.abt-img {
  margin-left: 250px;
  margin-top: 20px;
  /* border: 2px solid rebeccapurple; */
  width: 77%;
  display: flex;
  justify-content: space-between;
}

.disc-head {
  text-align: center;
  margin-top: 30px;
  color: #815153;
  letter-spacing: 2px;
}

.discover-imgs {
  display: flex;
  margin-top: 20px;
  margin-left: 160px;
  width: 85%;
  /* border: 2px solid blue; */
  gap: 80px;
  padding: 15px 30px;
}

.disc1 {
  display: flex;
  flex-direction: column;
  width: 490px;
}

.disc1 img {
  width: 470px;
}

.disc1 h4 {
  letter-spacing: 1px;
  margin-top: 15px;
  font-size: 20px;
}

.disc1-description {
  width: 305px;
  font-size: 17px;
  letter-spacing: 1px;
  margin-top: 10px;
}

.ayur-way .ayur-way-head {
  text-align: center;
  margin-top: 40px;
  color: #815153;
  letter-spacing: 1px;
}

.ayur-way-imgs {
  display: flex;
  padding: 15px 30px;
  margin-left: 160px;
  gap: 80px;
}

.group253 {
  margin-left: 690px;
  margin-top: 30px;
  width: 550px;
}

.Yoga {
  margin-left: 260px;
  margin-top: 70px;
}

.facilities h2 {
  text-align: center;
  margin-top: 30px;
  color: #815153;
  letter-spacing: 1px;
}

.facility-desc {
  width: 570px;
  text-align: center;
  margin-left: 660px;
  margin-top: 10px;
  letter-spacing: 1px;
  color: #3d3c3c;
  font-size: 20px;
  /* border: 2px solid green; */
}

.facility-imgs {
  /* border: 2px solid blue; */
  width: 70%;
  display: flex;
  gap: 50px;
  margin-left: 320px;
  margin-top: 30px;
}

.facility-img1 {
  width: 400px;
  text-align: center;
  letter-spacing: 1px;
  color: #3d3c3c;
}

.facility-desc2 {
  width: 300px;
  text-align: center;
  margin-left: 35px;
  margin-top: 10px;
  letter-spacing: 1px;
  color: #3d3c3c;
}

.facility-img2 {
  width: 400px;
  text-align: center;
  letter-spacing: 1px;
  color: #3d3c3c;
  margin-top: 90px;
}

.Resort {
  margin-top: 50px;
  margin-left: 250px;
}

.Experiencing {
  margin-top: 50px;
  margin-left: 225px;
}

.Book-Now {
  display: flex;
  /* border: 2px solid teal; */
  text-align: center;
  justify-content: center;

  margin-top: 20px;
}

.Book-Now img {
  width: 100px;
}

.Book-Now h2 {
  color: #815153;
  margin-top: 30px;
  font-size: 32px;
  letter-spacing: 1px;
}

.book-now-btn {
  width: 230px;
  height: 50px;
  padding: 15px 30px;
  text-align: center;
  margin-left: 860px;
  font-size: 19px;
  letter-spacing: 2px;
  color: #815153;
  background-color: #f3eee7;
  border: 1px solid #815153;
  cursor: pointer;
}

.footer {
  /* margin-top: 40px; */
  padding-bottom: 20px;
  background-color: white;
  
}

.footer-head {
  display: flex;
  width: 80%;
  margin-top: 45px;
  justify-content: space-evenly;
  margin-left: 250px;
  padding: 30px;
}

.footer-head h4 {
  margin-top: 10px;
  color: #818181;
  font-weight: 100;
  font-size: 20px;
  letter-spacing: 1px;
}

.footer-head p {
  font-size: 19px;
  width: 680px;
  color: #818181;
  letter-spacing: 1px;
}

.footer-btn {
  width: 300px;
  background-color: #815153;
  color: rgb(236, 229, 229);
  border: none;
  font-size: 18px;
  cursor: pointer;
}

.footer-sections {
  margin: auto 19.625rem;
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  letter-spacing: 2px;
  gap: 34px;
}
.footer-sec1 {
  display: flex;
  flex-direction: column;
  min-width: 19rem;
  gap: 15px;
}
.footer-sec1-head {
  display: flex;
  align-items: end;
  gap: 15px;
}
.footer-sec1-head p {
  font-size: 21px;
  font-weight: 500;
}
.footer-sec1 .sub-contents {
  font-weight: lighter;
  letter-spacing: 2px;
  color:  #818181;
}
.footer-sec1 .contact-us {
  width: 180px;
  height: 40px;
  font-size: 16px;
  letter-spacing: 1px;
  background-color: #fff;
  border: 1px solid #815153;
  color: #815153;
  margin-top: 12px;
}
.footer-sec1 .social-medias {
  display: flex;
  align-items: center;
  margin-top: 15px;
  color: #815153;
}
.footer-sec2 {
  display: flex;
  flex-direction: column;
  gap: 6px;
  min-width: 15rem;
  padding: 10px;
}
.footer-sec2 .footer-sec2-head {
  font-size: 21px;
  margin-bottom: 9px;
}
.footer-sec2 .more-info {
  color:  #818181;
}
.footer-sec3 {
  min-width: 23rem;
  padding: 10px;
}
.footer-sec3 .footer-sec3-head {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.footer-sec3 .desti-content {
  color: #818181;
}
.footer-sec3 h4 {
  font-size: 21px;
  font-weight: 500;
  margin-bottom: 5px;
}
.footer-sec3 .desti-head {
    font-size: 19px;
    margin: 5px 0;
}

.footer-sec4{
    /* border: 2px solid red; */
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 6px;
    min-width: 25rem;
}

.footer-sec4-head{
    font-size: 21px;
    margin-bottom: 5px;
}


.footer-sec4-head .footer-contact{
    color: black;
}

.footer-sec4 .contact-head{
   font-size: 19px;
   margin-bottom: 5px;
   color: black;
}



.footer-sec4 p{
    color:  #818181;
}

.footer-contact{
    color: black;
    font-weight: 500;
}

.footer-hr1 {
  width: 73%;
  border: none;
  border-top: 1px solid #e6e6e6;
  margin-top: 10px;
  margin-left: 313px;
  opacity: 0.9;
  /* margin: 36px auto 18px; */
}

.footer-hr {
  width: 73%;
  border: none;
  border-top: 1px solid #e6e6e6;
  opacity: 0.9;
  margin-top: 30px;
  margin-left: 313px;
  
}




.copyright{
    text-align: center;
    background-color: white;
    padding: 15px;
    font-size: 18px;
    color: #696969;
    margin-bottom: 15px;
}